.home-container {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid;
    border-color: #EFEFF0;
    margin-bottom: 50px;
}

.home-header {
    margin-top: 32px;
    padding-bottom: 8px;
    text-align: center;
    margin-bottom: 10px;
}

.home-h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: .05em;
    line-height: normal;
    text-transform: uppercase;
    margin: 16px 0;
    padding-bottom: 8px;
    text-align: center;
    font-size: 80px;
}

.home-p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 728px;
    margin-top: 16px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}

.home-article {
    margin: 0 auto;
    width: 60%;
}

.individual-article {
    align-items: flex-start;
    display: flex;
    margin-bottom: 60px;
}

.article-img {
    width: 183px;
    height: 103px;
}

.article-img-container,
.article-text-container {
    margin-right: 50px;
}

.article-img-comtainer {
    width: 30%;
}

.article-text-container {
    width: 65%;
}

.article-heading {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.article-link {
    font-size: 20px;
    position: relative;
    color: #a0a0a0;
    text-decoration: none;
    z-index: 1;
}

.article-link:hover {
    color: #fe4a49
}

.article-heading {
    margin-bottom: 10px;
}


.scrape:hover,
.scrape:focus,
.saved:hover,
.saved:focus,
.home:hover,
.home:focus {
    color: #fff;
    background-color: #fe4a49;
    cursor: pointer;
}

.scrape,
.saved,
.home {
    color: #fe4a49;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    width: 200px;
    padding: 5px 0px;
    border: 3px solid #fe4a49;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    margin-right: 50px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
}

.save-article,
.note-article,
.delete-article,
.delete-note,
.submit {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    width: 100px;
    padding: 5px 0px;
    border: 3px solid #fe4a49;
    color: #fff;
    background-color: #fe4a49;
    border-radius: 2px;
    margin-right: 30px;
}

.save-article:hover,
.save-article:focus,
.note-article:hover,
.note-article:focus,
.delete-article:hover,
.delete-article:focus,
.delete-note:hover,
.delete-note:focus,
.submit:hover,
.submit:focus {
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
    cursor: pointer;
}

.note-article,
.delete-article,
.delete-note {
    font-size: 15px;
}

.note-header {
    text-align: center;
    margin-bottom: 30px;
}

.note-heading {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
}

.note-heading-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.note-container {
    display: flex;
}

.previous-note,
.note-form {
    width: 50%;
    margin: 50px 100px;
}

.form-input {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.title-note {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.title-note-input {
    width: 300px;
    height: 30px;
    border: 1px solid #333333;
    font-size: 16px;
}

.text-note-input {
    font-size: 16px;
}

.individual-note {
    display: flex;
    margin-bottom: 50px;
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 30px;
    align-items: flex-end;
    justify-content: space-between;
}

.note-title {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.note-body {
    font-family: 'Nunito', sans-serif;
}

.pre {
    margin-bottom: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.delete-note {
    height: 37px;
}







